.forecast {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  margin-top: 20px;
  color: #5a6275;
  border: #bbdffb solid 3px;
  padding: 15px 30px 15px 15px;
  background-color: #bbdffb;
  border-radius: 50% 20% / 10% 40%;
  transition: .3s;
}

.forecast h6 {
  margin-bottom: 10px;
}
.forecast h1,
h2 {
  display: inline;
  font-weight: 300;
}
.weather-icon {
  float: right;
  margin-top: -5px;
  margin-left: 5px;
  position: absolute;
}
.forecast:hover {
  background-color: #b2dbfa;
  border-color: #b2dbfa;
}

.forecast p {
  font-size: 10pt;
}
.forecast-wrap{
  margin-bottom: 40px;
}
