@charset "UTF-8";
@import url("https://themes.googleusercontent.com/fonts/css?kit=xTOoZr6X-i3kNg7pYrzMsoOwWej7DWyX-Wf82ZnQcSW2xQkfTEGP_8DkOEbKjUf9duSHuyc67wv6SEuoeuGDoQ");
.cv .lst-kix_citw6oz1q5y4-7 > li:before {
  content: "○ ";
}
.cv .lst-kix_ufezumu3m1db-2 > li:before {
  content: "■ ";
}
.cv .lst-kix_citw6oz1q5y4-6 > li:before {
  content: "● ";
}
.cv .lst-kix_ufezumu3m1db-3 > li:before {
  content: "● ";
}
.cv .lst-kix_citw6oz1q5y4-5 > li:before {
  content: "■ ";
}
.cv .lst-kix_ufezumu3m1db-4 > li:before {
  content: "○ ";
}
.cv ul.lst-kix_rw4kzzpjrib3-1 {
  list-style-type: none;
}
.cv ul.lst-kix_rw4kzzpjrib3-2 {
  list-style-type: none;
}
.cv ul.lst-kix_rw4kzzpjrib3-0 {
  list-style-type: none;
}
.cv .lst-kix_citw6oz1q5y4-8 > li:before {
  content: "■ ";
}
.cv .lst-kix_ufezumu3m1db-1 > li:before {
  content: "○ ";
}
.cv .lst-kix_ufezumu3m1db-0 > li:before {
  content: "● ";
}
.cv ul.lst-kix_rw4kzzpjrib3-5 {
  list-style-type: none;
}
.cv ul.lst-kix_rw4kzzpjrib3-6 {
  list-style-type: none;
}
.cv ul.lst-kix_rw4kzzpjrib3-3 {
  list-style-type: none;
}
.cv ul.lst-kix_rw4kzzpjrib3-4 {
  list-style-type: none;
}
.cv ul.lst-kix_rw4kzzpjrib3-7 {
  list-style-type: none;
}
.cv ul.lst-kix_rw4kzzpjrib3-8 {
  list-style-type: none;
}
.cv .lst-kix_ufezumu3m1db-5 > li:before {
  content: "■ ";
}
.cv .lst-kix_ufezumu3m1db-7 > li:before {
  content: "○ ";
}
.cv .lst-kix_ufezumu3m1db-6 > li:before {
  content: "● ";
}
.cv ul.lst-kix_efrugcxyxy7p-0 {
  list-style-type: none;
}
.cv ul.lst-kix_efrugcxyxy7p-1 {
  list-style-type: none;
}
.cv ul.lst-kix_efrugcxyxy7p-4 {
  list-style-type: none;
}
.cv ul.lst-kix_efrugcxyxy7p-5 {
  list-style-type: none;
}
.cv ul.lst-kix_efrugcxyxy7p-2 {
  list-style-type: none;
}
.cv .lst-kix_ufezumu3m1db-8 > li:before {
  content: "■ ";
}
.cv ul.lst-kix_efrugcxyxy7p-3 {
  list-style-type: none;
}
.cv .lst-kix_citw6oz1q5y4-2 > li:before {
  content: "■ ";
}
.cv .lst-kix_citw6oz1q5y4-4 > li:before {
  content: "○ ";
}
.cv .lst-kix_iqzifbczfjv5-2 > li:before {
  content: "■ ";
}
.cv .lst-kix_citw6oz1q5y4-3 > li:before {
  content: "● ";
}
.cv .lst-kix_iqzifbczfjv5-1 > li:before {
  content: "○ ";
}
.cv .lst-kix_citw6oz1q5y4-0 > li:before {
  content: "● ";
}
.cv .lst-kix_iqzifbczfjv5-0 > li:before {
  content: "● ";
}
.cv .lst-kix_citw6oz1q5y4-1 > li:before {
  content: "○ ";
}
.cv .lst-kix_lf1zpnidyh73-6 > li:before {
  content: "● ";
}
.cv .lst-kix_lf1zpnidyh73-4 > li:before {
  content: "○ ";
}
.cv .lst-kix_lf1zpnidyh73-0 > li:before {
  content: "● ";
}
.cv .lst-kix_iqzifbczfjv5-4 > li:before {
  content: "○ ";
}
.cv .lst-kix_lf1zpnidyh73-2 > li:before {
  content: "■ ";
}
.cv .lst-kix_iqzifbczfjv5-6 > li:before {
  content: "● ";
}
.cv .lst-kix_iqzifbczfjv5-8 > li:before {
  content: "■ ";
}
.cv ul.lst-kix_jmv3q8y3y07r-8 {
  list-style-type: none;
}
.cv ul.lst-kix_lzzo6ucq7n29-1 {
  list-style-type: none;
}
.cv .lst-kix_cigb9kkcnmxx-6 > li:before {
  content: "■ ";
}
.cv ul.lst-kix_lzzo6ucq7n29-2 {
  list-style-type: none;
}
.cv ul.lst-kix_jmv3q8y3y07r-6 {
  list-style-type: none;
}
.cv ul.lst-kix_jmv3q8y3y07r-7 {
  list-style-type: none;
}
.cv ul.lst-kix_lzzo6ucq7n29-0 {
  list-style-type: none;
}
.cv .lst-kix_cigb9kkcnmxx-8 > li:before {
  content: "◆ ";
}
.cv li.li-bullet-1:before {
  margin-left: -36pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 36pt;
}
.cv ul.lst-kix_jmv3q8y3y07r-0 {
  list-style-type: none;
}
.cv ul.lst-kix_jmv3q8y3y07r-1 {
  list-style-type: none;
}
.cv .lst-kix_jmv3q8y3y07r-8 > li:before {
  content: "● ";
}
.cv ul.lst-kix_jmv3q8y3y07r-4 {
  list-style-type: none;
}
.cv ul.lst-kix_jmv3q8y3y07r-5 {
  list-style-type: none;
}
.cv ul.lst-kix_jmv3q8y3y07r-2 {
  list-style-type: none;
}
.cv ul.lst-kix_jmv3q8y3y07r-3 {
  list-style-type: none;
}
.cv .lst-kix_rw4kzzpjrib3-8 > li:before {
  content: "■ ";
}
.cv .lst-kix_rw4kzzpjrib3-6 > li:before {
  content: "● ";
}
.cv ul.lst-kix_lzzo6ucq7n29-7 {
  list-style-type: none;
}
.cv ul.lst-kix_lzzo6ucq7n29-8 {
  list-style-type: none;
}
.cv ul.lst-kix_lzzo6ucq7n29-5 {
  list-style-type: none;
}
.cv ul.lst-kix_lzzo6ucq7n29-6 {
  list-style-type: none;
}
.cv ul.lst-kix_lzzo6ucq7n29-3 {
  list-style-type: none;
}
.cv .lst-kix_lf1zpnidyh73-8 > li:before {
  content: "■ ";
}
.cv ul.lst-kix_lzzo6ucq7n29-4 {
  list-style-type: none;
}
.cv .lst-kix_rw4kzzpjrib3-0 > li:before {
  content: "● ";
}
.cv .lst-kix_rw4kzzpjrib3-2 > li:before {
  content: "■ ";
}
.cv ul.lst-kix_nz265uajgpfe-8 {
  list-style-type: none;
}
.cv ul.lst-kix_nz265uajgpfe-5 {
  list-style-type: none;
}
.cv .lst-kix_rw4kzzpjrib3-4 > li:before {
  content: "○ ";
}
.cv ul.lst-kix_nz265uajgpfe-4 {
  list-style-type: none;
}
.cv .lst-kix_jmv3q8y3y07r-0 > li:before {
  content: "● ";
}
.cv ul.lst-kix_nz265uajgpfe-7 {
  list-style-type: none;
}
.cv ul.lst-kix_nz265uajgpfe-6 {
  list-style-type: none;
}
.cv ul.lst-kix_nz265uajgpfe-1 {
  list-style-type: none;
}
.cv ul.lst-kix_nz265uajgpfe-0 {
  list-style-type: none;
}
.cv ul.lst-kix_nz265uajgpfe-3 {
  list-style-type: none;
}
.cv .lst-kix_lzzo6ucq7n29-3 > li:before {
  content: "● ";
}
.cv ul.lst-kix_nz265uajgpfe-2 {
  list-style-type: none;
}
.cv .lst-kix_jmv3q8y3y07r-4 > li:before {
  content: "● ";
}
.cv .lst-kix_y5lajpktzaow-0 > li:before {
  content: "● ";
}
.cv .lst-kix_jmv3q8y3y07r-2 > li:before {
  content: "● ";
}
.cv .lst-kix_jmv3q8y3y07r-6 > li:before {
  content: "● ";
}
.cv .lst-kix_lzzo6ucq7n29-5 > li:before {
  content: "■ ";
}
.cv .lst-kix_lzzo6ucq7n29-7 > li:before {
  content: "○ ";
}
.cv ul.lst-kix_y5lajpktzaow-4 {
  list-style-type: none;
}
.cv ul.lst-kix_y5lajpktzaow-5 {
  list-style-type: none;
}
.cv ul.lst-kix_y5lajpktzaow-2 {
  list-style-type: none;
}
.cv ul.lst-kix_y5lajpktzaow-3 {
  list-style-type: none;
}
.cv ul.lst-kix_y5lajpktzaow-8 {
  list-style-type: none;
}
.cv .lst-kix_cigb9kkcnmxx-4 > li:before {
  content: "◆ ";
}
.cv ul.lst-kix_citw6oz1q5y4-0 {
  list-style-type: none;
}
.cv ul.lst-kix_y5lajpktzaow-6 {
  list-style-type: none;
}
.cv ul.lst-kix_y5lajpktzaow-7 {
  list-style-type: none;
}
.cv ul.lst-kix_citw6oz1q5y4-2 {
  list-style-type: none;
}
.cv ul.lst-kix_citw6oz1q5y4-1 {
  list-style-type: none;
}
.cv .lst-kix_cigb9kkcnmxx-2 > li:before {
  content: "■ ";
}
.cv ul.lst-kix_citw6oz1q5y4-4 {
  list-style-type: none;
}
.cv ul.lst-kix_citw6oz1q5y4-3 {
  list-style-type: none;
}
.cv ul.lst-kix_citw6oz1q5y4-6 {
  list-style-type: none;
}
.cv ul.lst-kix_citw6oz1q5y4-5 {
  list-style-type: none;
}
.cv ul.lst-kix_citw6oz1q5y4-8 {
  list-style-type: none;
}
.cv ul.lst-kix_citw6oz1q5y4-7 {
  list-style-type: none;
}
.cv .lst-kix_efrugcxyxy7p-3 > li:before {
  content: "● ";
}
.cv .lst-kix_cigb9kkcnmxx-0 > li:before {
  content: "❖ ";
}
.cv .lst-kix_efrugcxyxy7p-1 > li:before {
  content: "➢ ";
}
.cv ul.lst-kix_y5lajpktzaow-0 {
  list-style-type: none;
}
.cv ul.lst-kix_y5lajpktzaow-1 {
  list-style-type: none;
}
.cv .lst-kix_nz265uajgpfe-8 > li:before {
  content: "■ ";
}
.cv .lst-kix_efrugcxyxy7p-5 > li:before {
  content: "➢ ";
}
.cv .lst-kix_efrugcxyxy7p-6 > li:before {
  content: "■ ";
}
.cv .lst-kix_nz265uajgpfe-6 > li:before {
  content: "● ";
}
.cv .lst-kix_efrugcxyxy7p-7 > li:before {
  content: "● ";
}
.cv .lst-kix_nz265uajgpfe-5 > li:before {
  content: "■ ";
}
.cv .lst-kix_efrugcxyxy7p-8 > li:before {
  content: "◆ ";
}
.cv .lst-kix_nz265uajgpfe-7 > li:before {
  content: "○ ";
}
.cv .lst-kix_nz265uajgpfe-0 > li:before {
  content: "● ";
}
.cv .lst-kix_nz265uajgpfe-2 > li:before {
  content: "■ ";
}
.cv .lst-kix_nz265uajgpfe-1 > li:before {
  content: "○ ";
}
.cv .lst-kix_nz265uajgpfe-4 > li:before {
  content: "○ ";
}
.cv .lst-kix_nz265uajgpfe-3 > li:before {
  content: "● ";
}
.cv .lst-kix_y5lajpktzaow-1 > li:before {
  content: "○ ";
}
.cv .lst-kix_y5lajpktzaow-2 > li:before {
  content: "■ ";
}
.cv .lst-kix_y5lajpktzaow-3 > li:before {
  content: "● ";
}
.cv .lst-kix_lzzo6ucq7n29-1 > li:before {
  content: "○ ";
}
.cv .lst-kix_y5lajpktzaow-5 > li:before {
  content: "■ ";
}
.cv .lst-kix_lzzo6ucq7n29-0 > li:before {
  content: "● ";
}
.cv .lst-kix_y5lajpktzaow-4 > li:before {
  content: "○ ";
}
.cv .lst-kix_y5lajpktzaow-6 > li:before {
  content: "● ";
}
.cv ul.lst-kix_cigb9kkcnmxx-8 {
  list-style-type: none;
}
.cv ul.lst-kix_cigb9kkcnmxx-7 {
  list-style-type: none;
}
.cv .lst-kix_y5lajpktzaow-8 > li:before {
  content: "■ ";
}
.cv .lst-kix_y5lajpktzaow-7 > li:before {
  content: "○ ";
}
.cv ul.lst-kix_cigb9kkcnmxx-0 {
  list-style-type: none;
}
.cv ul.lst-kix_cigb9kkcnmxx-2 {
  list-style-type: none;
}
.cv ul.lst-kix_cigb9kkcnmxx-1 {
  list-style-type: none;
}
.cv ul.lst-kix_cigb9kkcnmxx-4 {
  list-style-type: none;
}
.cv ul.lst-kix_cigb9kkcnmxx-3 {
  list-style-type: none;
}
.cv ul.lst-kix_cigb9kkcnmxx-6 {
  list-style-type: none;
}
.cv ul.lst-kix_cigb9kkcnmxx-5 {
  list-style-type: none;
}
.cv .lst-kix_lf1zpnidyh73-7 > li:before {
  content: "○ ";
}
.cv .lst-kix_lf1zpnidyh73-3 > li:before {
  content: "● ";
}
.cv .lst-kix_lf1zpnidyh73-5 > li:before {
  content: "■ ";
}
.cv .lst-kix_iqzifbczfjv5-3 > li:before {
  content: "● ";
}
.cv .lst-kix_lf1zpnidyh73-1 > li:before {
  content: "○ ";
}
.cv .lst-kix_iqzifbczfjv5-5 > li:before {
  content: "■ ";
}
.cv .lst-kix_iqzifbczfjv5-7 > li:before {
  content: "○ ";
}
.cv ul.lst-kix_lf1zpnidyh73-1 {
  list-style-type: none;
}
.cv ul.lst-kix_lf1zpnidyh73-0 {
  list-style-type: none;
}
.cv .lst-kix_cigb9kkcnmxx-7 > li:before {
  content: "● ";
}
.cv ul.lst-kix_lf1zpnidyh73-7 {
  list-style-type: none;
}
.cv ul.lst-kix_lf1zpnidyh73-6 {
  list-style-type: none;
}
.cv ul.lst-kix_lf1zpnidyh73-8 {
  list-style-type: none;
}
.cv ul.lst-kix_lf1zpnidyh73-3 {
  list-style-type: none;
}
.cv ul.lst-kix_lf1zpnidyh73-2 {
  list-style-type: none;
}
.cv ul.lst-kix_lf1zpnidyh73-5 {
  list-style-type: none;
}
.cv ul.lst-kix_lf1zpnidyh73-4 {
  list-style-type: none;
}
.cv .lst-kix_rw4kzzpjrib3-7 > li:before {
  content: "○ ";
}
.cv ul.lst-kix_ufezumu3m1db-1 {
  list-style-type: none;
}
.cv ul.lst-kix_ufezumu3m1db-2 {
  list-style-type: none;
}
.cv ul.lst-kix_ufezumu3m1db-0 {
  list-style-type: none;
}
.cv ul.lst-kix_ufezumu3m1db-5 {
  list-style-type: none;
}
.cv ul.lst-kix_efrugcxyxy7p-8 {
  list-style-type: none;
}
.cv ul.lst-kix_ufezumu3m1db-6 {
  list-style-type: none;
}
.cv ul.lst-kix_ufezumu3m1db-3 {
  list-style-type: none;
}
.cv ul.lst-kix_efrugcxyxy7p-6 {
  list-style-type: none;
}
.cv ul.lst-kix_ufezumu3m1db-4 {
  list-style-type: none;
}
.cv ul.lst-kix_efrugcxyxy7p-7 {
  list-style-type: none;
}
.cv ul.lst-kix_ufezumu3m1db-7 {
  list-style-type: none;
}
.cv .lst-kix_rw4kzzpjrib3-3 > li:before {
  content: "● ";
}
.cv ul.lst-kix_ufezumu3m1db-8 {
  list-style-type: none;
}
.cv .lst-kix_jmv3q8y3y07r-1 > li:before {
  content: "● ";
}
.cv ul.lst-kix_iqzifbczfjv5-0 {
  list-style-type: none;
}
.cv .lst-kix_lzzo6ucq7n29-2 > li:before {
  content: "■ ";
}
.cv ul.lst-kix_iqzifbczfjv5-1 {
  list-style-type: none;
}
.cv ul.lst-kix_iqzifbczfjv5-2 {
  list-style-type: none;
}
.cv .lst-kix_rw4kzzpjrib3-5 > li:before {
  content: "■ ";
}
.cv ul.lst-kix_iqzifbczfjv5-3 {
  list-style-type: none;
}
.cv ul.lst-kix_iqzifbczfjv5-4 {
  list-style-type: none;
}
.cv .lst-kix_lzzo6ucq7n29-4 > li:before {
  content: "○ ";
}
.cv .lst-kix_jmv3q8y3y07r-5 > li:before {
  content: "● ";
}
.cv ul.lst-kix_iqzifbczfjv5-5 {
  list-style-type: none;
}
.cv ul.lst-kix_iqzifbczfjv5-6 {
  list-style-type: none;
}
.cv ul.lst-kix_iqzifbczfjv5-7 {
  list-style-type: none;
}
.cv ul.lst-kix_iqzifbczfjv5-8 {
  list-style-type: none;
}
.cv .lst-kix_jmv3q8y3y07r-3 > li:before {
  content: "● ";
}
.cv .lst-kix_jmv3q8y3y07r-7 > li:before {
  content: "● ";
}
.cv .lst-kix_lzzo6ucq7n29-8 > li:before {
  content: "■ ";
}
.cv .lst-kix_lzzo6ucq7n29-6 > li:before {
  content: "● ";
}
.cv .lst-kix_rw4kzzpjrib3-1 > li:before {
  content: "○ ";
}
.cv .lst-kix_cigb9kkcnmxx-5 > li:before {
  content: "➢ ";
}
.cv .lst-kix_cigb9kkcnmxx-3 > li:before {
  content: "● ";
}
.cv .lst-kix_cigb9kkcnmxx-1 > li:before {
  content: "➢ ";
}
.cv li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt;
}
.cv .lst-kix_efrugcxyxy7p-4 > li:before {
  content: "◆ ";
}
.cv .lst-kix_efrugcxyxy7p-0 > li:before {
  content: "❖ ";
}
.cv .lst-kix_efrugcxyxy7p-2 > li:before {
  content: "■ ";
}
.cv ol {
  margin: 0;
  padding: 0;
}
.cv table td,
.cv table th {
  padding: 0;
}
.cv .c3 {
  margin-left: -31.5pt;
  padding-top: 10pt;
  list-style-position: inside;
  text-indent: 0pt;
  padding-bottom: 0pt;
  line-height: 1.3;
  orphans: 2;
  widows: 2;
  text-align: left;
  margin-right: -31.5pt;
}
.cv .c8 {
  margin-left: -31.5pt;
  padding-top: 10pt;
  padding-bottom: 0pt;
  line-height: 1.3;
  orphans: 2;
  widows: 2;
  text-align: left;
  margin-right: -31.5pt;
}
.cv .c9 {
  margin-left: -13.5pt;
  padding-top: 10pt;
  padding-left: 18pt;
  padding-bottom: 0pt;
  line-height: 1.3;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.cv .c4 {
  margin-left: -31.5pt;
  padding-top: 0pt;
  padding-bottom: 10pt;
  line-height: 1;
  orphans: 2;
  widows: 2;
  text-align: left;
  margin-right: -31.5pt;
}
.cv .c2 {
  margin-left: -31.5pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
  margin-right: -31.5pt;
}
.cv .c0 {
  margin-left: -31.5pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1;
  orphans: 2;
  widows: 2;
  text-align: left;
  margin-right: -31.5pt;
}
.cv .c16 {
  margin-left: -4.5pt;
  padding-top: 10pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.3;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.cv .c12 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 9pt;
  font-family: "Lato";
  font-style: normal;
}
.cv .c1 {
  color: #666666;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 9pt;
  font-family: "Lato";
  font-style: normal;
}
.cv .c14 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 9pt;
  font-family: "Lato";
  font-style: normal;
}
.cv .c7 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  font-family: "Lato";
  font-style: normal;
}
.cv .c20 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Playfair Display";
  font-style: normal;
}
.cv .c13 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 9pt;
  font-family: "Playfair Display";
  font-style: normal;
}
.cv .c6 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Playfair Display";
  font-style: italic;
}
.cv .c5 {
  -webkit-text-decoration-skip: none;
  color: #1155cc;
  font-weight: 700;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  font-size: 9pt;
}
.cv .c19 {
  margin-left: -31.5pt;
  padding-top: 16pt;
  padding-bottom: 0pt;
  line-height: 1;
  page-break-after: avoid;
  text-align: left;
}
.cv .c25 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 14pt;
  font-family: "Playfair Display";
  font-style: normal;
}
.cv .c11 {
  padding: 0;
  margin: 0;
}
.cv .c17 {
  font-weight: 400;
  font-style: italic;
}
.cv .c10 {
  color: inherit;
  text-decoration: inherit;
}
.cv .c18 {
  margin-right: -31.5pt;
}
.cv .c23 {
  font-weight: 400;
}
.cv .c24 {
  height: 10pt;
}
.cv .c15 {
  font-size: 9pt;
}
.cv .c22 {
  font-weight: 700;
}
.cv .title {
  padding-top: 0pt;
  color: #000000;
  font-weight: 700;
  font-size: 14pt;
  padding-bottom: 10pt;
  font-family: "Playfair Display";
  line-height: 1;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.cv .subtitle {
  padding-top: 0pt;
  color: #999999;
  font-size: 9pt;
  padding-bottom: 0pt;
  font-family: "Lato";
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.cv li {
  color: #000000;
  font-size: 10pt;
  font-family: "Lato";
}
.cv p {
  margin: 0;
  color: #000000;
  font-size: 10pt;
  font-family: "Lato";
}
.cv h1 {
  padding-top: 16pt;
  color: #f75d5d;
  font-weight: 700;
  font-size: 14pt;
  padding-bottom: 0pt;
  font-family: "Playfair Display";
  line-height: 1;
  page-break-after: avoid;
  text-align: left;
}
.cv h2 {
  padding-top: 10pt;
  color: #666666;
  font-size: 9pt;
  padding-bottom: 0pt;
  font-family: "Lato";
  line-height: 1.3;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.cv h3 {
  padding-top: 0pt;
  color: #000000;
  font-weight: 700;
  font-size: 11pt;
  padding-bottom: 0pt;
  font-family: "Playfair Display";
  line-height: 1;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.cv h4 {
  padding-top: 8pt;
  -webkit-text-decoration-skip: none;
  color: #666666;
  text-decoration: underline;
  font-size: 11pt;
  padding-bottom: 0pt;
  line-height: 1.3;
  page-break-after: avoid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  font-family: "Trebuchet MS";
  orphans: 2;
  widows: 2;
  text-align: left;
}
.cv h5 {
  padding-top: 8pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 0pt;
  font-family: "Trebuchet MS";
  line-height: 1.3;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.cv h6 {
  padding-top: 8pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 0pt;
  font-family: "Trebuchet MS";
  line-height: 1.3;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.cv .c21 {
  background-color: #ffffff;
  max-width: 432pt;
  padding: 54pt 90pt 54pt 90pt;
}
@media screen and (max-width: 650px) {
  .cv .c21 {
    padding: 15px;
  }
  .cv .c21 h2,
.cv .c21 h3,
.cv .c21 ul,
.cv .c21 li,
.cv .c21 h4,
.cv .c21 h5,
.cv .c21 h6,
.cv .c21 h1,
.cv .c21 p {
    margin: auto;
  }
  .cv .c21 li {
    margin-left: 30px;
  }
}/*# sourceMappingURL=resume.css.map */